[submodule "frontend"]
	path = frontend
	url = https://github.com/sanukhandev/baithul-madeena-ai-hub.git
	branch = main
[submodule "backend"]
	path = backend
	url = https://github.com/sanukhandev/baithul-madeena-ai-hub-be.git
	branch = main
